.nombreMascota {
  font-size: 18px;
  color: #000;
  margin: 0px 45px 0px 0px;
  text-align: center;
}

.iconoLapiz{
    color: #034561;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    margin-right: 13px;
}

.contenedorIT{
    display: flex;
    justify-content: center;
    align-items: center;
}